---
layout: default
title: "Home"
---

<style type="text/css" media="screen">
  .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
  }
  @media only screen and (max-device-width: 480px) {
    .grid {
      grid-template-columns: 100%;
    }
  }
  .grid a{
    border: 3px solid rgb(255, 216, 70);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 216, 70, 0.75);
    margin: 10px;
    padding: 10px;
    text-align: center;
    line-height: 1.25;
  }
  .proj-title{
    margin: auto;
  }
  .grid a:hover{
    border-color: rgb(249, 255, 219);
    box-shadow: 0px 0px 5px 0px rgba(249, 255, 219, 0.75);
  }
  a:hover .proj-title{
    color: rgb(249, 255, 219);
    text-shadow: 0 0 5px rgba(249, 255, 219, 0.75);
  }
  a:active{
    border-color: rgb(142, 124, 8);
    box-shadow: 0px 0px 5px 0px rgba(142, 124, 8, 0.75);
  }
  a:active .proj-title{
    color: rgb(142, 124, 8);
    text-shadow: 0 0 5px rgba(142, 124, 8, 0.75);
  }
  .thumbnail{
    max-height: 160px;
    display: block;
    margin: auto auto 7px auto;
    object-fit: contain;
    border: 1px solid rgb(255, 216, 70);
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(255, 216, 70, 0.75);
  }
  a:hover .thumbnail{
    border-color: rgb(249, 255, 219);
    box-shadow: 0px 0px 3px 0px rgba(249, 255, 219, 0.75);
  }
  a:active .thumbnail{
    border-color: rgb(142, 124, 8);
    box-shadow: 0px 0px 3px 0px rgba(142, 124, 8, 0.75);
  }
  .date {
    font-size: small;
    margin: auto auto 8px auto;
  }
  .tag {
    background-color: rgba(255, 216, 70, 0.2);
    margin-right: 4px;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
    float: left;
  }
</style>

<h1 style="text-align: center;">Projects</h1>
<div class="grid">
  {% assign projects = site.projects | sort:"date" | reverse %}
  {% for project in projects %}
  <a href="/projects/{{project.title}}.html" target="_self">
    <img class="thumbnail" src="../assets/images/{{project.title}}/thumbnail.png">
    <h2 class="proj-title">{{project.title}}</h2>
    <p class="date">{{project.date | date: "%b %Y"}}</p>
    {% for tag in project.tags %}
    <div class="tag">{{project.tags[forloop.index0]}}</div>
    {% endfor %}
  </a>
  {% endfor %}
</div>
