---
---

@import "{{ site.theme }}";

body{
    background:#151515 url("../images/bkg.png") 0 0
}

h1, h2, h3, h4, h5, h6 {
    color: #ffd846;
}

header h1 {
    color: #ffd846;
    margin: 0 0 0 0px;
}

header h1:before {
    content: revert;
    font-size: revert;
}

a:link {
    color: #ffd846;
    text-shadow: 0 0 5px rgb(255 216 70 / 50%);
}

a:visited {
    color: #ffd846;
    text-shadow: 0 0 5px rgb(255 216 70 / 50%);
}

a:hover {
    color: rgb(249, 255, 219);
    text-shadow: 0 0 5px rgb(255 216 70 / 50%);
}

a:active {
    color: rgb(142, 124, 8);
    text-shadow: 0 0 5px rgb(255 216 70 / 50%);
}