---
---

@import "{{ site.theme }}";

header {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

header h1 {
    color: rgb(255, 216, 70);
    margin: 0 0 0 0px;
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

header h2 {
    text-shadow: 0 0 5px rgba(102, 102, 102, 0.75);
}

header h1:before {
    content: revert;
    font-size: revert;
}

.btn-linkedin .icon {
    opacity: 0.6;
    background: url("../images/linkedin.png") 0 0 no-repeat;
}

body{
    background:rgb(21, 21, 21) url("../images/bkg.png") 0 0
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

a:visited {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

a:hover {
    color: rgb(249, 255, 219);
    text-shadow: 0 0 5px rgba(249, 255, 219, 0.75);
}

a:active {
    color: rgb(142, 124, 8);
    text-shadow: 0 0 5px rgba(142, 124, 8, 0.75);
}

pre {
    background: rgb(6,0,13);
    border: 1px solid rgb(255, 216, 70);
}

hr {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

th {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

img {
    display: block;
}