---
---

@import "{{ site.theme }}";

@media only screen and (max-device-width: 480px) {
    #header{
        text-align: center;
    }
}

html {
    scroll-behavior: smooth;
}

header {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

header h1 {
    color: rgb(255, 216, 70);
    margin: 0 0 0 0px;
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

header h2 {
    text-shadow: 0 0 5px rgba(102, 102, 102, 0.75);
}

header h1:before {
    content: revert;
    font-size: revert;
}

.btn-linkedin .icon {
    opacity: 0.6;
    background: url("../images/linkedin.png") 0 0 no-repeat;
}

body{
    background:rgb(21, 21, 21) url("../images/bkg.png") 0 0
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

#main_content h4 {
    font-size: 17px;
}

mark {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
    background-color: transparent;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

a:visited {
    color: rgb(255, 216, 70);
    text-shadow: 0 0 5px rgba(255, 215, 70, 0.75);
}

a:hover {
    color: rgb(249, 255, 219);
    text-shadow: 0 0 5px rgba(249, 255, 219, 0.75);
}

a:active {
    color: rgb(142, 124, 8);
    text-shadow: 0 0 5px rgba(142, 124, 8, 0.75);
}

table {
    margin: 0px;
}

hr {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

th {
    border-bottom: 1px dashed rgb(255, 216, 70);
}

img {
    display: block;
}

/* code snippets */

/* snippet frame */
.highlight > pre {
    background: rgb(6,0,13);
    color: white;
    border: 1px solid rgb(255, 216, 70);
    box-shadow: 0px 0px 5px 0px rgba(255, 216, 70, 0.75),
                inset 0px 0px 5px 0px rgba(255, 216, 70, 0.75);
}

/* code with line nos */
td.code > pre {
    background: rgb(6,0,13);
    border: unset;
    color: white;
    padding: 0px 10px 0px 0px;
}

/* line nos */
pre.lineno {
    background: rgb(6,0,13);
    border: unset;
    color: rgba(255, 255, 255, 0.3);
    padding: 0px 0px 0px 10px;
}

/* strings */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    color: #d78d70;
}

/* comments */
.highlight .c {
    color: #68a24e;
}

/* bulletins and functions */
.highlight .nb, .highlight .nf {
    color: #e0e0a3;
}

/* variables */
.highlight .nv {
    color: #8ad6ff;
}

/* types */
.highlight .kt {
    color: #3f9fe4;
}

footer{
    text-align: center;
    background-color: rgb(6,0,13);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    margin: 0;
    box-sizing: border-box;
    font-size: small;
}

footer p {
    margin: 0 0 3px 0;
}